spring:
  application:
    name: grimoire
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5430}/${DB_NAME:postgres}?currentSchema=${DB_SCHEMA_NAME:grimoire}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: HikariPool-Postgres
      maximum-pool-size: ${DB_POOL_MAX:20}
      minimum-idle: ${DB_POOL_MIN:5}
      connection-timeout: ${DB_TIMEOUT:30000}
      idle-timeout: 600000
      max-lifetime: 1800000
      keepalive-time: 30000
      leak-detection-threshold: 120000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        temp.use_jdbc_metadata_defaults: true
        format_sql: true
        jdbc:
          batch_size: 25
  ai:
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            model: models/gemini-pro-latest


resilience4j:
  circuitbreaker:
    instances:
      geminiGrading: # Tên định danh cho instance này
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 4 # Chỉ cần xét trên 5 request gần nhất
        minimumNumberOfCalls: 1
        failureRateThreshold: 50 # Nếu 50% số request lỗi -> Mở Circuit

        # QUAN TRỌNG: Thời gian chờ trước khi thử lại (1 tiếng)
        waitDurationInOpenState: 1h

        permittedNumberOfCallsInHalfOpenState: 3 # Số request cho phép thử nghiệm khi hết 1 tiếng
        automaticTransitionFromOpenToHalfOpenEnabled: true

        # Chỉ tính lỗi khi gặp các Exception này (Lỗi Quota/Limit)
        recordExceptions:
          - org.springframework.web.client.HttpClientErrorException.TooManyRequests
          - org.springframework.web.client.ResourceAccessException

management:
  tracing:
    propagation:
      type: w3c,b3

springdoc:
  api-docs:
    version: openapi_3_0
